@value filtersWidth: 180px;
@value flexWidth: 1040px;
@value flexWidthMiddle: 675px;
@value cvHeader3Size: 16px;

.creationsBlocUl {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.filtersBlocUl > li > label {
    cursor: pointer;
    position: relative;
    color: grey;
    display: inline-block;
    transform: translateX(-20px);
    font-size: 14px;
}

.filtersBlocUl > li > input {
    opacity: 0;
}

.filtersBlocUl > li > label::before, .filtersBlocUl > li > label {
    font-weight: 300;
}

.filtersBlocUl > li > label::before {
    content:attr(data-text);
    position: absolute;
    color: white;
    left: 0;
    top: 0;
    bottom: 0;
    width: 0%;
    overflow: hidden;
    transition: width .3s;
}

.filtersBlocUl > li > label::after {
    content:"(" attr(data-occ) ")";
    position: absolute;
    color: white;
    left: 111%;
    top: 4px;
    bottom: 0;
    overflow: hidden;
    font-size: 8px;
}

.filtersBlocUl > li > input:checked ~ label::before {
    width: 100%;
}

.creationsFlex {
    display: flex;
    width: flexWidth;
    margin: auto;
}

.creationsFilters {
    width: filtersWidth;
}

.creationsContent {
    width: calc(flexWidth - filtersWidth);
}

.creationsFilters > h3 {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: cvHeader3Size;
    margin-bottom: 20px;
    position: relative;
    margin-top: 20px;
}

.creationsFilters > h3::after {
    content: '';
    position: absolute;
    height: 1px;
    left: 0;
    width: 20px;
    top: 130%;
    background-color: #00bcd4;
}

.displayFilters {
    display: none;
}

@media (max-width: flexWidth) {
    .creationsFlex {
        width: flexWidthMiddle;
    }

    .creationsContent {
        width: calc(920px - filtersWidth);
    }
    
}

@media (max-width: 750px) {

    .filtersBlocUl {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .displayFilters {
        display: block;
        position: absolute;
        right: 10px;
        top: 13px;
        z-index: 99;
        font-size: 30px;
        background-color: transparent;
        color: white;
        color: lightgray;
    }

    .creationsFilters {
        height: 60px;
        overflow: hidden;
        transition: height .3s;
    }

    .creationsFilters.filtersDisplayed {
        height: 100%;
    }

    .filtersBlocUl > li {
        margin: 10px;
    }

    .creationsFlex {
        width: 100%;
        flex-wrap: wrap;
    }

    .creationsFilters {
        width: 100%;
        background-color: #1e1f25;
        margin: auto;
        border-radius: 10px;
        position: relative;
    }

    .creationsContent {
        width: 100%;
    }

    .creationsBlocUl{
        justify-content: center;
    }

    .creationsFilters > h3 {
        text-align: center;
    }
    
    .creationsFilters > h3::after {
        content: '';
        position: absolute;
        height: 1px;
        left: calc(50% - 20px / 2);
        width: 20px;
        top: 130%;
        background-color: #00bcd4;
    }
    
}
