@value cvWidth: 781px;
@value cvSideWidth: calc(cvWidth / 4);
@value cvShadow: 15px 5px 20px -7px rgb(0 0 0 / 30%);

@value cvHeader3Size: 16px;
@value cvHeader4Size: 14px;

@value sidecontPadding: 20px;

.cvBlock {
	position: relative;
	z-index: 999;
	margin: auto;
    width: cvWidth;
    background-color: #1E1F25;
	-webkit-box-shadow: cvShadow;
	-moz-box-shadow: cvShadow;
    box-shadow: cvShadow;
    border-radius: 5px;
    overflow: hidden;
}

.cvBlock::before {
    content: '';
    position: absolute;
    z-index: -1;
    width: cvSideWidth;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: #131313;
}

.cvMain {
    display: flex;
    flex-direction: row;
}

.cvBlockSidebar, .cvBlockContent {
    padding: sidecontPadding;
}

.cvBlockSidebar {
	width: cvSideWidth;
}

.cvBlockContent {
	width: calc(cvWidth - cvSideWidth);
}

.cvHeader3 {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: cvHeader3Size;
    margin-bottom: 20px;
    position: relative;
}

.cvHeader3::after {
    content: '';
    position: absolute;
    height: 1px;
    left: 0;
    width: 20px;
    top: 130%;
    background-color: #00bcd4;
}

.cvHeader4 {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: cvHeader4Size;
}


@media only screen and (max-width: 768px) {
	.cvBlock {
		width: 100%;
	}
}

@media only screen and (max-width: 700px) {
    
}

@media only screen and (max-width: 600px) {
    
}

@media only screen and (max-width: 560px) {

    .cvBlock {
        display: block;
    }

    .cvBlockContent {
        display: block;
        width: 100%;
    }

    .cvBlockSidebar{
        display: none;
    }

    .cvBlock::before {
        width: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: inherit;
        height: 250px;
    }
}

