@value hrBulleSize: 5px;
@value hrColor: #575965;

.notfound {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 100vh;
	flex-wrap: wrap;
	flex-direction: column;
}

.notfound h1, .notfound h2 {
	color: lightgray;
}

.notfound h1 {
	font-size: 40px;
}

.notfound h2 {
	font-size: 20px;
}

.globalButtonLink {
	font-family: 'Lato', sans-serif;
	color: white;
    font-size: 1.2rem;
    transition: color .3s;
	position: relative;
	font-weight: 200;
	text-transform: uppercase;
}

.globalButtonLink::before, .globalButtonLink::after {
	content: "";
	position: absolute;
	left: 0;
	right: 0;
	width: 100%;
	height: 1px;
	top: 120%;
}

.globalButtonLink::before {
	background-color: #6f6f6f;
	transform: scaleX(.2);
	transition: transform .3s .2s;
}

.globalButtonLink::after {
	background-color: #00bcd4;
	transform: scaleX(.0);
	transition: transform .3s;
}

.globalButtonLink:hover::before {
	transform: scaleX(1);
	transition: transform .3s;
}

.globalButtonLink:hover::after {
	transform: scaleX(1);
	transition: transform .3s .2s;
}

.globalCenterBlock {
	display: block;
	text-align: center;
	padding: 2rem;
}

.globalh1 {
    padding: 2rem 1rem 4rem 1rem;
	text-align: center;
	color: transparent;
	font-family: 'Lato', sans-serif;
	-webkit-text-stroke: 0.05rem #cacaca;
	font-weight: 700;
	font-size: 2.5rem;
	text-transform: uppercase;
	position: relative;
}

.globalh1::before, .globalh1::after {
	content:"";
	position: absolute;
	height: 1px;
	background-color: #00bcd4;
}

@value topBeforeSize: 5.3rem;
@value topBeforeSizeLittle: 5rem;
@value beforeh1size: 5.5rem;
@value afterh1size: 2rem;

.globalh1::before{
	top: topBeforeSize;
	width: beforeh1size;
	left: calc(50% - beforeh1size / 2);
}

.globalh1::after{
	top: calc(topBeforeSize + 0.5rem);
	width: afterh1size;
	left: calc(50% - afterh1size / 2);
}

.miniSeparator, .miniSeparatorRight {
	width: 100%;
	display: block;
	height: 10px;
	margin: 15px 0;
	position: relative;
}

.miniSeparator::before, .miniSeparatorRight::before, .miniSeparator::after, .miniSeparatorRight::after {
	content: "";
	position: absolute;
}

.miniSeparatorRight::before, .miniSeparator::before {
	top: 1px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background-color: hrColor;
}

.miniSeparatorRight::before {
	right: 0px;
}

.miniSeparator::before {
	left: 0px;
}

.miniSeparator::after, .miniSeparatorRight::after {
	width: 17px;
	height: 3px;
	background-color: hrColor;
	top: 4px;
	border-radius: 4px;
}

.miniSeparator::after {
	left: 12px;
}

.miniSeparatorRight::after {
	right: 12px;
}

@media (max-width: 450px) {
	.globalh1 {
		padding: 2rem 1rem 4rem 1rem;
		font-size: 2rem;
	}
	
	.globalh1::before{
		top: topBeforeSizeLittle;
	}
	
	.globalh1::after{
		top: calc(topBeforeSizeLittle + 0.5rem);
	}
}
